@using System.Linq
@using DataLibrary.Models

@model List<Category>
@using System.Collections.Generic
<table class="table">
    <thead>
     <tr>
       <th> CategoryID  </th>
       <th> Object </th>
       <th>Weight</th>
        <th>Price</th>
    
     </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td> @item.CategoryID </td>
            <td> @item.Type </td>
            <td>@item.Weight</td>
            <td>@item.Price</td>
        
        </tr>
    }
    </tbody>
</table> 